@forward './styles/variables';
@forward './styles/basic';
@forward './styles/form';
@forward './styles/buttons';
@forward './styles/input';
@forward './styles/textarea';
@forward './styles/table';
@forward './styles/dialog';
@forward './styles/toasts';
@forward './styles/paginator';
@forward './styles/animations';
@forward './styles/file-upload';
  