@if (loading) {
	<app-loader />
} @else {
<div class="w-10 mx-auto py-6">
	<h2>{{ news.title }}</h2>

	@if (!!news.images.length) {
		@if (news.images.length === 1) {
			<img [src]="news.images[0] | staticUrl" [alt]="news.title" class="w-full" />
		} @else {
			<ul>
				@for (img of news.images; let i = $index; track img) {
					<li><img [src]="img | staticUrl" [alt]="news.title + ' image ' + (i + 1)" class="w-full" /></li>
				}
			</ul>
		}
	}
	
	<div class="my-3">{{ news.content }}</div>

	<div class="pt-3 border-top-1 border-gray-200">
		<span class="text-sm text-gray">{{ news.createdAt | date : 'dd.MM.yyyy' }}</span>
	</div>
</div>
}

<p-toast position="bottom-left" />
