<p-table
  [columns]="cols"
  [value]="newsList"
  [dataKey]="'id'"
  [paginator]="true"
  [rows]="10"
>
  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track col) {
        <th [style]="col.style">
          {{ col.header }}
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr>
      @for (col of columns; track col) {
        @if (!col.isAction) {
          @if (col.field === 'createdAt') {
          <td [style]="col.style">{{ rowData['createdAt'] | date : 'MM/dd/yyyy, hh:mm a' }}</td>
          } @else {
            <td [style]="col.style">{{ rowData[col.field] }}</td>
          }
        }
      }
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          [rounded]="true"
          [outlined]="true"
          (click)="editNews.emit(rowData)"
        ></button>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteNews.emit(rowData.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
