<form [formGroup]="form">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      pInputText
      type="text"
      id="firstName"
      formControlName="firstName"
      [invalid]="firstNameControl?.invalid && firstNameControl?.touched"
    />
    @if (firstNameControl?.errors?.['required'] && firstNameControl?.touched) {
      <p-message
        severity="error"
        size="small"
        variant="simple"
      >Field is required</p-message>
    }
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      pInputText
      type="text"
      id="lastName"
      formControlName="lastName"
      [invalid]="lastNameControl?.invalid && lastNameControl?.touched"
    />
    @if (lastNameControl?.errors?.['required'] && lastNameControl?.touched) {
      <p-message
        severity="error"
        size="small"
        variant="simple"
      >Field is required</p-message>
    }
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      pInputText
      type="email"
      id="email"
      formControlName="email"
      [invalid]="emailControl?.invalid && emailControl?.touched"
    />
    @if (emailControl?.errors?.['required'] && emailControl?.touched) {
      <p-message
        severity="error"
        size="small"
        variant="simple"
      >Field is required</p-message>
    }
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input
      pInputText
      type="tel"
      id="phone"
      formControlName="phone"
      name="phone"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="bio">About yourself</label>
    <textarea
      pTextarea
      id="bio"
      formControlName="bio"
      name="bio"
      rows="4"
    ></textarea>
  </div>

  <div class="flex justify-content-end">
    <button
      pButton
      type="button"
      label="Save changes"
      [disabled]="form.invalid"
      (click)="sendData()"
    ></button>
  </div>
</form>
