@layer custome-them {
  .animation-slide-up {
    animation: slideUp 0.4s ease-out;
  }

  .animation-fade-in {
    animation: fadeIn 0.5s;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
