html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

.text-gray {
  color: var(--text-secondary);
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85rem;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;

  &:hover {
    color: var(--primary-hover);
  }

  &.active {
    color: var(--primary-active);
  }
}

.max-w-800 {
  max-width: 800px;
}

.bg-white {
  background-color: var(--background-white) !important;
}

.bg-light {
  background-color: var(--background-light) !important;
}

.card {
  box-shadow: var(--shadow-md);
	background-color: var(--background-white);
	border-radius: var(--border-radius);
	padding: 2rem;
}

