html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

p {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;

  &:hover {
    color: var(--primary-hover);
  }

  &.active {
    color: var(--primary-active);
  }
}