@layer custome-them {
  .form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);

    label {
      font-weight: 600;
      font-size: 0.95rem;
    }
  }

}
