@layer custome-them {
  .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--border-radius-sm);
    margin: 0 0.25rem;
    transition: all var(--transition-speed) ease;
  }

  .p-paginator .p-paginator-pages .p-paginator-page:hover {
    background: var(--primary-light);
    color: var(--primary-color);
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--primary-color);
    color: white;
  }
}
