<div class="p-5">
  <div class="animation-slide-up bg-white border-round-xl max-w-28rem mx-auto p-6 shadow-2">
    <div class="text-center mb-4">
      <h2 class="mb-3">Sign In</h2>
      <p class="text-gray">Sign in to your account</p>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          [invalid]="emailControl?.invalid && emailControl?.touched"
          placeholder="example@mail.com"
        />
        @if (
          emailControl?.invalid && emailControl?.touched
        ) {
          <p-message
            severity="error"
            size="small"
            variant="simple"
          >Email is not valid</p-message>
        }
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          pInputText
          type="password"
          id="password"
          formControlName="password"
          [invalid]="passwordControl?.invalid && passwordControl?.touched"
          placeholder="*******"
        />
        @if (
          passwordControl?.invalid && passwordControl?.touched
        ) {
          <p-message
            severity="error"
            size="small"
            variant="simple"
          >Password is required</p-message>
        }
      </div>

      <div class="flex justify-content-center mb-3">
        <button
          pButton
          type="submit"
          [label]="loading ? 'Loading...' : 'Sign In'"
          [disabled]="loginForm.invalid || loading"
        ></button>
      </div>

      <div class="pt-3 border-top-1 border-gray-200 text-center">
        <p class="text-gray">Don't have an account? <a routerLink="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>

<p-toast position="bottom-left" />